@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("./components/Navbar/Navbar.css");

:root{
  --background-color: #fafafa;
  --primary-color:#ff6525;
  --text-color-primary:#363030;
  --accent-color:#d2d2d2;
  --container-border-color:#121010;
  --overlay:rgba(0,0,0,0.3);
}

*{
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}

.profile-option{
  color: var(--text-color-primary);
  font-size: 2.5rem;
}

.menu{
  border-right: 1px solid var(--accent-color);
}

.person{
  background-color: var(--accent-color);
  border-radius: 0 4px 4px 0;
}

.cursor-pointer:hover{
  cursor: pointer;
}